body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 20px;    
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 3em; 
   align-items: center;
}
table {
    border-collapse: collapse;
            margin: 20px auto;
            width: 80%;
            text-align: center;
}
th, td {
    border: 1px solid #4f772d;
    padding: 15px;
    text-align: left;
}
th {
    text-align: center;
    background-color: #90a955;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px; 
}

.map-section {
    max-width: 800px;
    margin-bottom: 20px;
    text-align: center; 
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}
h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    align-items: center;
}
p {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: justify; 
}

figure {
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}

.map-content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    text-align: left; /
}
hr {
    border: 0;
    border-top: 2px solid #4f772d;
    width: 90%;
    margin: 20px auto;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 0.5em;
    margin-bottom: 1 em;
    margin-left: 0.5em;
    margin-right: 0;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: left; 
}

